*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
}

    .boton{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    }

        .button1 {
            box-sizing: content-box;
            box-shadow: 0px 0px 10px grey;
            border-radius: 15px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 20px 20px;
            font-family: montserrat;

            font-size: 30px;
            color: #ffffff;
            text-decoration: none;
            }


                .buttonmenu {
                    padding: 20px 20px;
                    font: normal normal bold 15px tahoma;
                    color: white;                   
                    text-decoration: none;
                    margin: 50px;
                    width: 100%;
                }
                .buttonmenu:hover{
                    border-radius: 5px;
                    background-color: white;
                    color: rgb(43, 43, 43);

                }

                .navbar{
                    height: 95px;
                    width: 100%;
                }

                .nav-list{
                    padding-top: 0;
                    box-sizing: content-box;
                    width: 100%;                                                       
                    background-color: rgb(107, 107, 107, 1);
                    box-shadow: 0px 0px 10px black;
                    padding: 30px;                    
                    display: flex;
                    justify-content: center;
                    list-style: none;
                    }

#contenedor{
    background-color: rgb(192, 192, 192);
    font: normal normal 15px tahoma;
    margin-right: 0;
    margin-left: 0;

}

.carousel-item img{
        
    width: 100%;
    }

    #carouselExampleFade{
        margin-left: auto;
        margin-right: auto;
        }
    

.footer{
    margin: 0;    
    background-color: rgb(107, 107, 107, 1);
    padding-top: 10px;
    color: white;
    height: 50px;
    font-size: 19px;
}


.contact{
    list-style-type: none;
    list-style: none;
    position: relative;
    display: flex;
        
    }
    .contact a{
        padding-right: 10px;
    }

.contact img{
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: #0c0D07;
    list-style-type: none;
    width: 40px;
    overflow: hidden;
    }

#portada{
    padding-top: 4%;
    padding-bottom: 2%;
    justify-content: space-between;
}

.default1{
    display: flex;
    margin-right: 10%;
    margin-left: 10%; 
}
.default1 img{
    border-radius: 15px;
    border: rgb(107, 107, 107, 1) 5px solid;
}

.default2{
    padding-top: 5%;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 4%; 
}

.default2 img{
    border-radius: 15px;
    border: rgb(107, 107, 107, 1) 5px solid;
}

.texto{
    font-style: unset;
    padding-left: 3%;
    font-size: 150%;
    font-family: montserrat;
}

    .box{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
